.container {
  min-width: 1470px;
  max-width: 1614px;
  height: 855px;
  position: relative;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 0;
  background-color: var(--secondary-background);
}

.container-resize {
  width: 84%;
}

.container-resizeRestore {
  width: 1470px;
}

.container header {
  width: 100%;
  height: 64px;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  background: rgb(32, 32, 32);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: sticky;
  top: 0;
  right: 8px;
  left: 0;
  z-index: 1;
}

.container header .navigation-links {
  display: flex;
  align-items: center;
}


.container header .navigation-links button {
  color: #A7A7A7;
  border: none;
  font-weight: bolder;
  font-size: 14px;
  background-color: unset;
}
.container header .navigation-links hr {
  width: 2px;
  height: 130%;
  border: none;
  background-color: #A7A7A7;
  margin: 0 20px;
  padding: 0;
}

.container header 
.navigation-links 
button:last-child {
  width: 109.48px;
  height: 48px;
  border: none;
  border-radius: 50px;
  font-weight: bolder;
  font-size: 14px;
  padding: 8px 12px;
  margin-left: 34px;
  color: black;
  background-color: white;
}

.playlists {
  display: grid;
  gap: 22px;
  overflow-x: hidden;
}

.playlist .playlist-heading {
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  /* background-color: greenyellow; */
}

.playlist .playlist-heading span {
  font-weight: bold;
}

.playlist .playlist-heading a {
  font-size: 16px;
  color: #5a5a5a;
}

.playlist .playlist-gallery {
  display: flex;
  gap: 22px;
}

.playlist-gallery .card {
  width: 183.42px;
  height: 265.59px;
  font-family: sans-serif;
  margin: 10px 0;
  padding: 0;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px #101010;
  cursor: pointer;
  background-color: #181818;
}

.playlist-gallery .card:hover {
  background-color: #222222;
}

.playlist-gallery .card .cover {
  display: grid;
  place-content: center;
  width: 183.42px;
  height: 70%;
  /* border: 1px solid red; */
}
.playlist-gallery .card .cover img {
  width: 160px;
  height: 160px;
  /* border: 1px solid red; */
}

.playlist-gallery .card .desc {
  width: 100%;
  height: 30%;
  padding: 0 12px;
  font-weight: bolder;
}

.playlist-gallery .card .desc span {
  color: white;
  font-size: 15px;
}

.playlist-gallery .card .desc p {
  font-size: 12px;
  color: #5a5a5a;
  margin-top: 8px;
}

.footering {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 189px 134px;
}

.footering-links .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
}

.footering-links .top .left {
  display: flex;
  gap: 22px;
}

.footering-links .top .company-links,
.footering-links .top .comunities-links {
  width: 156px;
}

.footering-links .top .utils-links {
  width: 220px;
}

.footering-links .top  span {
  color: white;
  font-weight: bold;
}

.footering-links .top  ul {
  list-style: none;
}

.footering-links .top  ul li {
  padding: 8px 0px;
  font-size: 14px;
}

.footering-links .top  ul li a {
  padding: 0;
  font-size: 12px;
}

.social-media {
  display: flex;
  padding: 26px 26px 0 0;
}

.social-media .icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 100%;
  background-color: #5a5a5a;
}

.copy {
  font-family: sans-serif;
  color: #5a5a5a;
}
.copy .divider {
  width: 100%;
  height: 20px;
  border: none;
  border-top: 1px inset #808080;
}